<template name="adminInterface">
	<div class="container well">

		<h2 style="margin-left:10px"><i class="fa fa-dashboard"> </i> Admin Dashboard </h2>
		<hr>

		<div class="row container">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title"><i class="fa fa-plus-square"></i> Add a coursepack </h2>
					</div>
					<div class="panel-body">
						{{> addCoursepackForm }}
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title"><i class=""></i> Available Coursepacks </h2>
					</div>
					<div class="panel-body">
						{{> coursepacks }}
					</div>
				</div>
			</div>
			
		</div>

		<div class="container row">
			<div class="row container">
				<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title"><i class=""></i> Requests </h2>
					</div>
					<div class="panel-body">
						{{> requests }}
					</div>
				</div>
			</div>
			</div>
		</div>

	</div>
</template>


<template name="requests">
	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th> Name </th>
					<th> Email </th>
					<th> Student Number </th>
					<th> Coursepack </th>
					<th> Delete </th>
				</tr>
			</thead>
			<tbody>
				{{#each requests}}
					{{> request}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="request"> 
	<tr>
		<td> {{ firstName }} {{ lastName }} </td>
		<td> {{ email }} </td>
		<td> {{ studentNumber }} </td>
		<td> {{ coursepack }} </td>
		<td align="center"> 	 
			<button class="delete btn btn-xs btn-danger">&times;</button>
		</td>
	</tr>  
 </template>