<template name="coursepacks">
	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover">  
			<thead>
				<tr>
				   <th> Course Code</th> 
				   <th> Course Name</th> 
   				   <th> Professor </th> 
				   <th> Cost </th>
	   			   <th> Delete </th>  
				</tr>
			</thead>
			<tbody>
				{{#each coursepacks}}
					{{> coursepack }}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="coursepack">   
	<tr class="" style="ackground-color: rgba(0, 102, 153, 0.1a)">
		<td> {{ courseCode }} </td>
		<td> {{ courseName }} </td>
		<td> {{ professor }} </td>
		<td> {{ cost }} </td>
		<td align="center"> 
		  <button class="delete btn btn-xs btn-danger">&times;</button> 
		</td>
	</tr>
</template>