<template name="userInterface">
	<div class="container col-lg-offset-2 col-lg-8">
	    <div class="well bs-component">
	      <form class="form-horizontal">
	        <fieldset>
	          <legend>Request Form</legend>
	          
	          <div class="form-group">
	            <!-- First Name -->
	            <label for="firstName" class="col-lg-3 control-label">First Name</label>
	            <div class="col-lg-8">
	              <input type="text" class="form-control" id="firstName" placeholder="First Name">
	            </div>
				<!-- Last Name -->
	            <label for="lastName" class="col-lg-3 control-label">Last Name</label>
	            <div class="col-lg-8">
	              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
	            </div>
	            <!-- Email -->
	            <label for="email" class="col-lg-3 control-label">Email</label>
	            <div class="col-lg-8">
	              <input type="text" class="form-control" id="email" placeholder="Email">
	            </div>
	            <!-- Student Number -->
	            <label for="email" class="col-lg-3 control-label">Student Number</label>
	            <div class="col-lg-8">
	              <input type="text" class="form-control" id="email" placeholder="Student Number">
	            </div>
	          </div>

	          <div class="form-group">
	            <label for="select" class="col-lg-3 control-label">Coursepack</label>
	            <div class="col-lg-8">
	              <select class="form-control" id="select">
	                <option>1</option>
	                <option>2</option>
	                <option>3</option>
	                <option>4</option>
	                <option>5</option>
	              </select>
	            </div>
	          </div>

	          <div class="form-group">
	            <div class="col-lg-2 col-lg-offset-10">
	              <button type="submit" class="btn btn-primary text-right">Submit</button>
	            </div>
	          </div>
	        </fieldset>
	      </form>
	    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
	</div>
</template>
